<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Register as a Volunteer</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input 
            type="text" 
            ngModel name="fname" 
            required 
            minlength="2"
            fname
            #fnameCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="!fnameCtrl.valid && fnameCtrl.touched && fnameCtrl?.errors.minlength">
            <p>First Name field length should 3 and it can't not be blank.</p>
           </ion-item>
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input 
            type="text" 
            ngModel name="lname" 
            required 
            minlength="2"
            lname
            #lnameCtrl="ngModel"
            lines="none"></ion-input>
          </ion-item>
          <ion-item *ngIf="!lnameCtrl.valid && lnameCtrl.touched && lnameCtrl?.errors.minlength">
            <p>Last Name field length should 3 and it can't not be blank.</p>
           </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input 
            type="email" 
            ngModel name="email" 
            required 
            email
            #emailCtrl="ngModel"
            lines="none"></ion-input>
          </ion-item>
          <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched">
            <p>Should be a email address</p>
        </ion-item>
          <ion-item>
            <ion-label position="floating">Passsword</ion-label>
            <ion-input 
            type="password" 
            ngModel name="pword" 
            minlength="6"
           
            required
            pword
            #pwardCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="!pwardCtrl.valid && pwardCtrl.touched && pwardCtrl?.errors.minlength">
              <p>Password need at lest 6 charaters of digit</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Phone number</ion-label>
            <ion-input 
            type="text"
            ngModel name="mno" 
            required 
            mno
            #mnoCtrl="ngModel"
            minlength="10"
            pattern=^[0-9]*$
            ></ion-input>
          </ion-item>
         <ion-item *ngIf="!mnoCtrl.valid && mnoCtrl.touched && mnoCtrl?.errors.minlength && mnoCtrl?.errors.pattern">
              <p>Should be a 10 digit mobile number</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input 
            type="text"
            ngModel name="address" 
            required
            address
            #addCtrl="ngModel"
            lines="none"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="!addCtrl.valid && addCtrl.touched">
            <p>We need your address</p>
        </ion-item>
        </ion-list>
        <ion-button 
        type="submit" 
        color="primary" 
        expand="block"
        [disabled]="!f.valid">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>